<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <script src="/js/forgot-password.js" defer></script>
    <link rel="stylesheet" href="/css/forgot-password.css" />
  </head>
  <body>
    <div class="container">
      <video
        class="bgVideo"
        autoplay
        loop
        muted
        frameborder="0"
      > <source src="/img-and-vid/registerbgvid.mp4" type="video/mp4" /></video>
      <div class="SignUpBox">
        <div class="imageContainer">
          <img class="img" src="/img-and-vid/registerbgimg.png" alt="" />
        </div>
        <div class="detailsContainer">
          <div class="details">
              <h1 class="primaryHeading">Forgot Password</h1>
              <form class="form" method="post" action="/api/auth/register">
                <div class="inputDetails">
                  <label for="email">
                    Registered E-mail :-
                  </label>
                  <input type="text" required placeholder="E-mail" name="email" id="email" autocomplete="off
                  ">
                  <p class="error"></p>
                </div>
                <div class="success"></div>
                <div class="send-again"></div>
                <div class="extras">
                  <input class="submit" type="submit" value="Reset Password">
                  <a href="/api/auth/login">Cancel</a>
                </div>
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
