<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="/js/reset-password.js" defer></script>
    <link rel="stylesheet" href="/css/reset-password.css" />
  </head>
  <body>
    <div class="container">
      <video
        class="bgVideo"
        autoplay
        loop
        muted
        frameborder="0"
      > <source src="/img-and-vid/loginbgvid.mp4" type="video/mp4" /></video>
      <div class="SignUpBox">
        <div class="imageContainer">
          <img class="img" src="/img-and-vid/loginbgimg.jpeg" alt="" />
        </div>
        <div class="detailsContainer">
          <div class="details">
              <h1 class="primaryHeading">Reset Password</h1>
              <form action="" class="form">
                <div class="inputDetails">
                  <label for="password">
                    Password :-
                  </label>
                  <input type="password" name="password" id="password" required placeholder="Password" autocomplete="off
                  ">
                </div>
                <div class="inputDetails">
                  <label for="cPassword">
                    Confirm password :-
                  </label>
                  <input type="password" name="password" id="cPassword" required placeholder="Confirm password" autocomplete="off
                  ">
                  <p class="error"></p>
                </div>
                <input class="submit" type="submit" value="Reset">
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
